<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gibe.Caching" version="1.0.373" targetFramework="net452" />
  <package id="Gibe.NPoco" version="3.1.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="NPoco" version="3.9.3" targetFramework="net452" />
</packages>